*{
    padding: 0;
    margin: 0;
  }
#header { 
    grid-area: header; }
#side { 
    grid-area: side;
 }
#glavniSadrzaj { 
    grid-area: glavniSadrzaj;}
#footer { 
    grid-area: footer;}


#okvir {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'side side glavniSadrzaj glavniSadrzaj glavniSadrzaj glavniSadrzaj'
    'footer footer footer footer footer footer';
    grid-template-columns: auto 35% 65% auto;
    grid-template-rows: 100px auto auto 80px;
}
@media only screen and (max-width: 600px) {
    #okvir {
        background-color: rgb(156, 156, 231);
        display: grid;
        grid-template-areas:
        'header header header header header header'
        'side side side side side side'
        'glavniSadrzaj glavniSadrzaj glavniSadrzaj glavniSadrzaj glavniSadrzaj glavniSadrzaj'
        'footer footer footer footer footer footer';
        grid-template-columns: auto auto 80% auto;
        grid-template-rows: 110px auto auto 80px;
        width: 100%;
    }
    #glavniSadrzaj {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 300px 300px;
        grid-template-rows: 200px 200px;
        padding: 20%;
     }
}
   
@media only screen and (min-width: 600px) {
    #header h1 {
        text-align: right;
        padding-right: 20%;
        padding-top: 2%;
    }
    #glavniSadrzaj {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 40% 40%;
        grid-template-rows: 40% 40%;
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
     } 
}

#header {
    background-color: rgb(250, 212, 176);
   
}
#logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
#header #meni li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
#side {
    background-color: rgb(172, 172, 201);
}
#side p {
    margin-top: 10%;
    margin-left: 40%;
    font-size: 18px;
}
#glavniSadrzaj {
    background-color: rgb(141, 141, 245);
}
#footer {
    background-color: rgb(241, 209, 148);
}
#footer h4 {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

input[type=text] {
    width: 200px;
    height: 20px;
}
 input[type=submit] {
    width: 80px;
    height: 20px;
    margin-right: 40px;
 }
 .godina {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 120%;
    text-align: center;
    padding-left: 0;
 }

p {
    text-align: left;
    margin-left: 5%;
}
#p1,#p2 {
    text-align: center;
}
form {
    margin: 20%;
    line-height: 30px;
}
a:link {
    color: black;
 }
p {
    text-align: center
}