*{
    padding: 0;
    margin: 0;
  }
#header { 
    grid-area: header; }
#glavniSadrzaj{
    grid-area: glavniSadrzaj;
 }
#footer { 
    grid-area: footer;}

@media only screen and (max-width: 600px) {
    #okvir {
        background-color: rgb(156, 156, 231);
        display: grid;
        grid-template-areas:
        'header header header'
        'glavniSadrzaj glavniSadrzaj glavniSadrzaj'
        'footer footer footer';
        grid-template-columns: auto 100% auto ;
        grid-template-rows: auto auto 80px;
        width: 100%;
    }
    select,input[type=text],input[type=number], input[type=email],input[type=file]{
        width: 100px;
        height: 20px;
    }
}
#glavniSadrzaj {
    background-color: rgb(192, 192, 248);
}
#glavniSadrzaj p {
    text-align:  center;
    margin: 5%;
    font-size: 18px;
}
@media only screen and (min-width: 600px) {
    #okvir {
        background-color: rgb(156, 156, 231);
        display: grid;
        grid-template-areas:
        'header header header'
        '. glavniSadrzaj .'
        'footer footer footer';
        grid-template-columns: auto 85% auto ;
        grid-template-rows: 110px auto 80px;
        width: 100%;
    }
    #header h1 {
        text-align: right;
        padding-right: 20%;
        padding-top: 2%;
    }
    select,input[type=text],input[type=number], input[type=email],input[type=file]{
        width: 200px;
        height: 30px;
    }
}

#header {
    background-color: rgb(250, 212, 176);
   
}
#logo{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
#header #meni li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
#footer {
    background-color: rgb(241, 209, 148);
}
#footer h4 {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

form[name=fPojedinacni], form[name=fMasovni]{
    margin: 5% 20%;
    padding-left: 10%;
    border: outset;
    line-height: 20px;
    padding-bottom: 10px;
}

input[type=submit] {
    width: 20%;
    height: 30px;
    margin-left:70%;
    cursor: pointer;

}

a:link {
    color: black;
}
#greske p {
    text-align: center;
}