*{
    padding: 0;
    margin: 0;
  }
#header { 
    grid-area: header; }
#glavniSadrzaj{
    grid-area: glavniSadrzaj;
 }
#footer { 
    grid-area: footer;
}

@media only screen and (max-width: 600px) {
    #okvir {
        background-color: rgb(156, 156, 231);
        display: grid;
        grid-template-areas:
        'header header header'
        'glavniSadrzaj glavniSadrzaj glavniSadrzaj'
        'footer footer footer';
        grid-template-columns: auto 100% auto ;
        grid-template-rows: auto auto 80px;
        width: 100%;
    }
    li {
        font-size: 10px;
    }
    form[name=fNova] ul {
        border: 1px solid black;
        width: 10%;
    }
}

#glavniSadrzaj {
    background-color: rgb(192, 192, 248);
}
#glavniSadrzaj p {
    text-align:  center;
    margin: 5%;
    font-size: 18px;
}
@media only screen and (min-width: 600px) {
    #okvir {
        background-color: rgb(156, 156, 231);
        display: grid;
        grid-template-areas:
        'header header header'
        '. glavniSadrzaj .'
        'footer footer footer';
        grid-template-columns: auto 85% auto ;
        grid-template-rows: 110px auto 80px;
        width: 100%;
    }
    
    #header h1 {
        text-align: right;
        padding-right: 20%;
        padding-top: 2%;
    }
    form[name=fNova] select,form[name=fNova] input[type=text],form[name=fPostojeca] select {
        width: 200px;
        height: 30px;
    }    
    form[name=fNova] ul {
        border: 1px solid black;
        width: 20%;
        margin-bottom: 10px;
    }
    ul,li {
        margin:0px;
        padding:5px;
    }
}
#header {
    background-color: rgb(250, 212, 176);
}
#logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
#header #meni li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
#footer {
    background-color: rgb(241, 209, 148);
}
#footer h4 {
    height: 80px;
    line-height: 80px;
    text-align: center;
}
form[name=fNova],form[name=fPostojeca]{
    margin: 5% 20%;
    padding-left: 10%;
    border: outset;
    line-height: 20px;
    padding-bottom: 10px;
}

input[type=submit], input[type=button] {
    cursor: pointer; 
    margin-left: 50%;
    height: 30px;
}
input[type=submit]{
    width: 100px;
}
input[type=button]{
    width: 150px;

}
 li {
     list-style: none;
 }
 
 a:link {
    color: black;
 }