*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
#header { 
    grid-area: header; }
#glavniSadrzaj{
    grid-area: glavniSadrzaj;
 }
#footer { 
    grid-area: footer;}


#okvir {
    background-color: rgb(156, 156, 231);
    display: grid;
    grid-template-areas:
    'header header header'
    '. glavniSadrzaj .'
    'footer footer footer';
    grid-template-columns: auto 85% auto ;
    grid-template-rows: auto auto 80px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #okvir {
        background-color: rgb(156, 156, 231);
        display: grid;
        grid-template-areas:
        'header header header'
        'glavniSadrzaj glavniSadrzaj glavniSadrzaj'
        'footer footer footer';
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto 80px;
        width: 100%;
    }
    
}
#glavniSadrzaj {
    background-color: rgb(192, 192, 248);
}
#glavniSadrzaj p {
    text-align:  center;
    margin: 10%;
    font-size: 18px;
}
@media only screen and (min-width: 600px) {
#header h1 {
    text-align: right;
    padding-right: 20%;
    padding-top: 2%;
}
input[type="text"],input[type="file"] {
    width: 230px;
    height: 20px;
    padding-left: 10px;
    border-radius: 4px;
}


input[name="dugme"] {
    cursor: pointer; 
    width: 100px;
    height: 30px;
    margin-left: 5px;
}
select {
    width: 250px;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 4px;
}
}

#header {
    background-color: rgb(250, 212, 176);
   
}
#logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
#header #meni li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
#footer {
    background-color: rgb(241, 209, 148);
}
#footer h4 {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

form  {
    height: 80%;
    margin: 5% 20%;
    padding-left: 10%;
    border-style: outset;
    line-height: 30px;
}


#file { 
    padding: 20px;
}
a:link {
    color: black;
 }

 #greske p {
     text-align: center;
 }
 #noviZadatak {
     height: auto;
 }
#rep {
    background-color: rgb(106, 106, 243);
   
}
input[type="button"] {
    cursor: pointer; 
    width: 100px;
    height: 30px;
    margin-left: 50%;
}
#test {
    width: 50%;
    height: 300px;
}