*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

#header { 
    grid-area: header; }
.glavni{
    grid-area: glavni;
 }
#footer { 
    grid-area: footer;}


#okvir {
    display: grid;
    grid-template-areas:
    'header '
    'glavni'
    'footer ';
    grid-template-rows: auto auto 80px;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    #header h1 {
        text-align: right;
        padding-right: 20%;
        padding-top: 2%;
    }
}
#header {
    background-color: rgb(250, 212, 176);
   
}
#logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
#header #meni li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}

.glavni {
    background-color: rgb(192, 192, 248);
}

#footer {
    background-color: rgb(241, 209, 148);
}
#footer h4 {
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.glavni p {
    margin: 5%;
    font-size: 16px;
}
table {
    border-collapse: collapse;
    margin: 5%;
    font-size: 18px;
    width: 50%;
    height: 20%;
}

table, td {
    border: 2px solid rgb(11, 11, 102);
}
td {
    padding: 5px;
    text-align: center;    
}
table tr:first-child {
    background-color: rgb(190, 190, 236);
}
#meni a:link {
    color: black;
 }
 .glavni input[type="button"] {
     width: 100px;
     height: 30px;
     margin: 50px;
 }
 input[type="number"] {
     margin-left: 50px;
     margin-top: 50px;
 }
#broj4 {
    margin-left: 245px;
    margin-top: 50px;
}
label {
    margin: 50px;
}

#dugmic {
    margin-left: 280px;
}