body{
    background-color: rgb(141, 141, 236);
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(216, 214, 214);
    width: 30%;
    height:30%;
    border-radius: 4px;
}


input[type=text],input[type=password] {
    width: 90%;
    height: 30px;
    padding: 10px ;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;

}

input[type=button] {
    width: 40%;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}

table {
    text-align: right;
    padding: 10% 20%;
}
#g1 p {
    text-align: center
}