*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
#header { 
    grid-area: header; }
#side { 
    grid-area: side;
 }
#glavniSadrzaj { 
    grid-area: glavniSadrzaj;}
#footer { 
    grid-area: footer;}


#okvir {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'side side glavniSadrzaj glavniSadrzaj glavniSadrzaj glavniSadrzaj'
    'footer footer footer footer footer footer';
    grid-template-columns: auto 35% 65% auto;
    grid-template-rows: auto 500px 80px;
}

@media only screen and (max-width: 600px) {
    #okvir{
        display: grid;
        grid-template-areas:
        'header header header header header header'
        'side side side side side side'
        'glavniSadrzaj glavniSadrzaj glavniSadrzaj glavniSadrzaj glavniSadrzaj glavniSadrzaj'
        'footer footer footer footer footer footer';
        grid-template-rows: auto 200px 500px 80px;
    }
}

@media only screen and (min-width: 600px) {
    #header h1 {
        text-align: right;
        padding-right: 20%;
        padding-top: 2%;
    }
}

#header {
    background-color: rgb(250, 212, 176);
   
}
#side {
    background-color: rgb(172, 172, 201);
}
#glavniSadrzaj {
    background-color: rgb(141, 141, 245);
}
#footer {
    background-color: rgb(241, 209, 148);
}
#logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
#header #meni li {
    display: inline;
    padding: 10px;
    font-size: 130%;
}

#side p {
    text-align: center;
    font-size: 120%;
}

#footer h4 {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 10%;
    font-size: 120%;
    width: 80%;
    height: 70%;
}

table, td {
    border: 1px solid black;
}

td {
    padding: 5px;
    text-align: left;    
}
#glavniSadrzaj a:link {
    text-decoration: none;
}

#side ul{
     height:70%; 
     width:55%;
     border: 1px solid black;
     padding: 10px;
     overflow:hidden; 
     overflow-y:scroll;
     margin-left: 20%;
     list-style: none;
 }
 #side li {
    font-size: 90%;
    line-height: 30px;
    cursor: pointer;
    padding-left: 5%;
    line-height: 150%;
 }

a:link {
   color: black;
}
#side li:hover { 
    background-color: rgb(188, 188, 229);
}