*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
#header { 
    grid-area: header; }
.cetvrtina #imena{ 
    grid-area: cetvrtina2;
 }
 .cetvrtina #godina{ 
    grid-area: cetvrtina1;
 }
.polovina { 
    grid-area: polovina;
    background-color: rgb(142, 142, 248);
}
#footer { 
    grid-area: footer;}


@media only screen and (min-width: 600px) {
    #okvir {
        display: grid;
        grid-template-areas:
        'header header header header'
        'cetvrtina1 cetvrtina2  polovina polovina'
        'footer footer footer footer';
        grid-template-columns: 25% 25% 50%;
        grid-template-rows: auto auto auto;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #okvir {
        display: grid;
        grid-template-areas:
        'header'
        'cetvrtina1'
        'cetvrtina2'
        'polovina'
        'footer';
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto 100px;;
        width: 100%;
        grid-auto-flow: column;
    }
}

@media only screen and (min-width: 600px) {
    #header h1 {
        text-align: right;
        padding-right: 20%;
        padding-top: 2%;
    }
}

#logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
#header #meni li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}

#header {
    background-color: rgb(250, 212, 176);
}
.cetvrtina {
    background-color: rgb(192, 192, 248);
    border: 1px solid rgba(63, 60, 60, 0.8);
    padding: 50px;
}


#footer {
    background-color: rgb(241, 209, 148);
}
.cetvrtina p {
    margin: 50px;
    text-align: center;
    font-size: 18px;
}
#footer h4 {
    height: 80px;
    line-height: 80px;
    text-align: center;
}
#imena li, #godina li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
 }
 
 #godina, #imena {
    width:90%;
    border: 1px solid black;
    padding: 10px;
    overflow:hidden;
    overflow-y:scroll;
    margin-left: 20%;
   
 }

 input[type=text],input[type=submit] {
    margin: 8px 0;
    border-radius: 4px;
    margin-left: 20%;
    width: 60%;
    height: 20%;
}

.item {
    background-color: rgb(98, 98, 245);
    border: 2px solid rgb(11, 11, 102);
    
    padding: 5px;
    width: 20%;
    height: 20%;
    margin: 20px;
    
    line-height: 100px;
    color: white;
    font-size: 100%;
    text-align: center;
}

ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    list-style: none;
}
.folder {
    margin: 30px;
    list-style: none;
    border-style: outset;
    -ms-box-orient: horizontal;
}
p {
    text-align: left;
    margin-left: 60px;
}
a:link {
    color: black;
 }
 #imena li:hover, #godina li:hover { 
    background-color: rgb(214, 214, 241);
}
#g1 p{
    text-align: center
}